<tr style="margin: 0;padding: 0;box-sizing: border-box;">
  <td style="margin: 0;padding: 0;box-sizing: border-box;">
    <table style="margin: 0;box-sizing: border-box;padding: 0 30px;">
      <tbody style="margin: 0;padding: 0;box-sizing: border-box;">
        <tr style="padding: 0;box-sizing: border-box;display: table;margin: 0 0 10px;">
          <td style="margin: 0;box-sizing: border-box;padding-bottom: 18px;">
            <p 
              style="padding: 0;box-sizing: border-box;margin-top: 0;margin-bottom: 10px;font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: bold;font-size: 16px;line-height: 22px;color: #373A36;"
            >Hello, {{firstName}} {{lastName}}!</p>

            <p 
              style="margin: 0;padding: 0;box-sizing: border-box;font-family: 'Raleway', sans-serif;font-style: normal;font-weight: 900;font-size: 20px;line-height: 23px;color: #373A36;"
            >Here is a one-time link available for <span style="color: #E0004D;">72 hours only.</span></p>
          </td>
          <td style="margin: 0;padding: 0;box-sizing: border-box;">
            <img style="padding: 0;box-sizing: border-box;margin-left: 20px;" src="https://i.ibb.co/wRGrPrX/email-was-sent.png" alt="Successfully sended email" width="172" height="98">
          </td>
        </tr>
        <tr style="margin: 0;padding: 0;box-sizing: border-box;">
          <td style="margin: 0;padding: 0;box-sizing: border-box;">
            <p 
              style="padding: 0;box-sizing: border-box;font-family: 'Open Sans', sans-serif;font-style: normal;font-size: 16px;line-height: 24px;color: #101820;font-weight: normal;margin-top: 0;margin-bottom: 20px;"
            >Make sure the answer is completed before navigating to the next question, as you can't go back.</p>
          </td>
        </tr>
        <tr style="margin: 0;padding: 0;box-sizing: border-box;">
          <td style="margin: 0;padding: 0;box-sizing: border-box;">
            <p 
              style="padding: 0;box-sizing: border-box;font-family: 'Open Sans', sans-serif;font-style: normal;font-size: 16px;line-height: 24px;color: #101820;font-weight: bold;margin-top: 0;margin-bottom: 18px;"
            >Good luck!</p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr style="margin: 0;padding: 0;box-sizing: border-box;">
  <td style="margin: 0;padding: 0;box-sizing: border-box;">
    <table style="margin: 0;padding: 0;box-sizing: border-box;width: 100%;border-top: 2px solid #eee;border-radius: 1px;">
      <tbody style="margin: 0;padding: 0;box-sizing: border-box;">
        <tr style="margin: 0;padding: 0;box-sizing: border-box;">
          <td style="margin: 0;padding: 0;box-sizing: border-box;">
            <div style="box-sizing: border-box;margin: 20px 22% 40px;padding: 12px 38.5px;min-width: 200px;background: #44318D;border-radius: 2px;text-align: center;">
              <a href="{{link}}" target="_blank" 
                style="box-sizing: border-box;font-family: Raleway;font-style: normal;font-weight: 800;font-size: 14px;line-height: 16px;letter-spacing: 0.5px;text-transform: uppercase;text-decoration: none;color: #FFFFFF;"
              >Go to the test</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
