<div class="container not-found">
  <div class="not-found__content">
    <div class="not-found__picture">
      <img src="../../../../assets/img/not-found.svg" alt="not fond image" />
    </div>
    <h1 class="not-found__title">Error</h1>
    <p class="not-found__text">page not found</p>
    <button mat-raised-button class="not-found__btn" routerLink="/vacancies">Vacancies page</button>
    <div class="not-found__logo">
      <img class="not-found__img" src="../../../../assets/img/logo.svg" alt="Hire Helper Logo" />
    </div>
  </div>
</div>
